.add-recipe-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: yellow;
    max-width: 600px;
}
    input{
        width: 100%;
        height: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .proc-preview{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .proc-preview-input{
        width: 30.33%
    }
    .build-recipe{
        background-color: purple;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
        .add-ingredients{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .add-directions{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }